{{{{raw}}}}
<script id="flight-template" type="text/html">
    <tr>
        <td>{{date}}</td>
        <td>{{pilot}}</td>
        <td>{{takeoffLocation}}</td>
        <td>{{landingLocation}}</td>
        <td>{{task}}</td>
        <td>{{takeoffTime}}</td>
        <td>{{landingTime}}</td>
        <td>{{duration}}</td>
        <td>{{distance}} km</td>
        <td>{{comment}}</td>
        {{#noTrace}}
            <td>N/A</td>
        {{/noTrace}}
        {{^noTrace}}
            <td><a href="https://s3-eu-west-1.amazonaws.com/clementallen/logbook/flights/{{fileName}}"><i class="material-icons">cloud_download</i></a></td>
        {{/noTrace}}
    </tr>
</script>
{{{{/raw}}}}
