{{{{raw}}}}
<script id="stat-template" type="text/html">
    <tr>
        <td>{{pilot}}</td>
        <td>{{totalFlights}}</td>
        <td>{{totalDuration}}</td>
        <td>{{averageDuration}}</td>
        <td>{{totalDistance}} km</td>
        <td>{{averageDistance}} km</td>
    </tr>
</script>
{{{{/raw}}}}
